/* Use Source Sans Pro font */
.post-full-content {
    font-family: 'Source Sans Pro', Georgia, serif;
}
.post-full-content h5 {
    font-family: 'Source Sans Pro', Georgia, serif;
}
.post-card-excerpt {
    font-family: 'Source Sans Pro', Georgia, serif;
}
.site-header-content .author-meta {
    font-family: 'Source Sans Pro', Georgia, serif;
}
.subscribe-overlay-description {
    font-family: 'Source Sans Pro', Georgia, serif;
}
